*{
    margin: 0px;
    padding: 0px;
font-family: 'Bebas Neue', cursive;

}
header{background-color: rgba(6, 20, 27);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(255, 255, 255);
}
ul{float: right;
list-style: none;
margin-top: 25px;
}
ul li{
display: inline-block;
}
ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
padding: 8px;
border: rgb(0, 0, 0) 1px solid;
border-radius: 20px;
transition: 0.6s ease;
}
ul li a:hover{
background-color: bisque;
color: black;
}
.LOGO img{
    height: auto;
    width: 150px;
    float: left;
}
.box { 
    position: relative;
    
    max-width: 600px;
    padding: 50px;
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    border-image-outset: 33px;


border-radius: 33px;


}
.high {font-size: 80px
    ;font-family: 'Licorice', cursive;
width: auto;
padding-left: 50px;}
    
.intro-inline{
  display:inline;
  height: 200px;
  right: 0px;  
}

.container{
    padding-top: 80px;
    display: flex;
}
.p{
    padding-top: 100px;
    width: 100px;

}
.about {
    font-size: 30px;
    font-family: cursive;
    height: 100vh;

}
body{
    background-color:rgb(6, 20, 27);
}
<<<<<<< Updated upstream
.footer{
<link rel="stylesheet" href="style.css"> 
        <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Licorice&display=swap" rel="stylesheet">
        <section class="footer">
            <div class="social">
                <a href="#">< i class="instagram"></i></a>
                <a href="#">< i class="twitter"></i></a>
                <a href="#">< i class="whatsapp"></i></a>
            </div>
        </section>
=======
.socials{
    height: 100px;
    background-color: darkblue;
    color: white;
>>>>>>> Stashed changes
}